body{
    margin: 0;
}

.sideSection{
    width: 20%;
    height: calc(100vh - 10px);
    background-color: aqua;
    padding-top: 10px;
}

.middleSection{
    position: relative;
    width: 60%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
}

.flute{
    position: relative;
    z-index: 2;
}

.flex{
    position: relative;
    z-index: 2;
    display: flex;
}

.overflow{
    overflow-y: scroll;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.helper{
    display: inline-block;
    vertical-align: bottom;
    height: 90%;
}

.justifyAround{
    justify-content: space-around;
}


.upgradesBtn{
    width: 100%;
    height: 10%;
    margin-bottom: 10px;
}

.upgrades{
    background-color: blueviolet;
    width: 70%;
    height: 100%;
}

.clickable{
    background-color: yellowgreen;
}

.imageUpgrades{
    height: 100%;
    width: 30%;
    background-size: 100% 100%;
    background-repeat: no-repeat;   
}

.hidden{
    display: none;
}

.backgroundFlute{
    background-image: url(./Images/BackgroundFlute.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.winged{
    background-image: url(./Images/WingedKuribohArt.jpg);
}

.winged9{
    background-image: url(./Images/WingedKuriboh9Art.jpg);
}

.winged10{
    background-image: url(./Images/WingedKuriboh10Art.webp);
}

.sphere{
    background-image: url(./Images/SphereKuribohArt.jpg);
}

.multiply{
    background-image: url(./Images/MultiplyArt.png);
}

.wings{
    background-image: url(./Images/TranscendentWingsArt.jpg);
}

.kuriboh{
    background-image: url(./Images/Kuriboh2Art.jpg);
}

.kuriboo{
    background-image: url(./Images/KuribooArt.png);
}

.kuribee{
    background-image: url(./Images/KuribeeArt.png);
}

.kuribeh{
    background-image: url(./Images/KuribehArt.jpg);
}

.kuribah{
    background-image: url(./Images/KuribahArt.png);
}

.kuribabylon{
    background-image: url(./Images/KuribabylonArt.png);
}

.stars{
    background-image: url(./Images/FiveStarTwillightArt.png);
}

.kuribandit{
    background-image: url(./Images/KuribanditArt.jpg);
}
.transp{
    background-repeat: no-repeat;
    background-size: cover;
}
.kuribohTransp{
    background-image: url(./Images/Kuriboh1Transp.png);
}

.kuribooTransp{
    background-image: url(./Images/KuribooArt.png);
}

.kuribeeTransp{
    background-image: url(./Images/KuribeeArt.png);
}

.kuribehTransp{
    background-image: url(./Images/KuribehArt.jpg);
}

.kuribahTransp{
    background-image: url(./Images/KuribahArt.png);
}

.wingedTransp{
    background-image: url(./Images/WingedKuribohTransp.png);
}

.winged9Transp{
    background-image: url(./Images/WingedKuriboh9Art.jpg);
}

.winged10Transp{
    background-image: url(./Images/WingedKuriboh10Art.webp);
}

.kuribanditTransp{
    background-image: url(./Images/KuribanditTransp.png);
}

.kuribabylonTransp{
    background-image: url(./Images/KuribabylonArt.png);
}
